<h1>New Recipe</h1>
<br><br>
<%=form_for @recipe do |f| %>
<%=f.hidden_field :user_id, value: @user.id%>
<%=f.label :name %>:
<%=f.text_field :name%><br>
<%=f.label "Sub Style"%>
<%=f.text_field :sub_style %><br>
<%=f.label 'Boil Size'%>:
<%=f.number_field :boil_size %> Gallons <br>
<%=f.label 'Batch Size' %>:
<%=f.number_field :batch_size %> Gallons <br>
<%=f.label "Original Gravity" %>:
<%=f.number_field :og %> <br>
<%=f.label "Final Gravity" %>:
<%=f.number_field :fg %> <br>
<%=f.label "ABV" %> %:
<%=f.number_field :abv%><br>
<%=f.label "IBU" %>:
<%=f.number_field :ibu %><br>
<br><br>
<%=f.label "Ingredients" %>:
<br><br>
<%=fields_for :ingredients, @recipe.ingredients.build do |ingredient_fields| %>
  <%=ingredient_fields.label "Hops" %>:
  <%=ingredient_fields.collection_check_boxes :id, Ingredient.get_hops, :id, :name%>
  <br><br>
  <%=ingredient_fields.label "Malts"%>:
  <%=ingredient_fields.collection_check_boxes :id, Ingredient.get_malts, :id, :name %>
  <br><br>
  <%=ingredient_fields.label "Yeast"%>:
  <%=ingredient_fields.collection_check_boxes :id, Ingredient.get_yeast, :id, :name %>
  <br><br>
<%end%>
<br><br>
<%=f.submit %>

<%end%>
