<h1>New Recipe</h1>
<br><br>
<%=form_for @recipe do |f| %>
<%=f.hidden_field :user_id, value: @user.id%>
<%=f.label :name %>:
<%=f.text_field :name%><br>
<%=f.label 'Boil Size'%>:
<%=f.number_field :boil_size %> Gallons <br>
<%=f.label 'Batch Size' %>:
<%=f.number_field :batch_size %> Gallons <br>
<%=f.label "Original Gravity" %>:
<%=f.number_field :og %> <br>
<%=f.label "Final Gravity" %>:
<%=f.number_field :fg %> <br>
<%=f.label "ABV" %> %:
<%=f.number_field :abv%><br>
<%=f.label "IBU" %>:
<%=f.number_field :ibu %><br>
<br><br>
<%=f.label "Ingredients" %>:
  <%=fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |i| %>
    <br><br>
    <%=i.label "Hops" %>:
    <br><br>
    <%=i.collection_select :ingredient_id, Ingredient.get_hops, :id, :name %>
    <%=i.label :quantity %>:
    <%=i.number_field :quantity%>
    <%=i.label :measurement %>:
    <%=i.text_field :measurement %>
    <%=i.collection_select :ingredient_id, Ingredient.get_hops, :id, :name %>
    <%=i.label :quantity %>:
    <%=i.number_field :quantity%>
    <%=i.label :measurement %>:
    <%=i.text_field :measurement %>
  <%end%>
<br><br>
<%=f.submit %>

<%end%>
