<!DOCTYPE html>
<html>
  <head>
    <title>HomeBrewsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="topnav">
      <a class="active" href=<%=root_path%> >Home</a>
      <a href=<%=logout_path %>>Log Out</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </head>

  <body>
    <% if flash[:message] %>
     <div class="message"><%= flash[:message] %></div>
     <br><br>
    <% end %>
    <%= yield %>
  </body>
</html>
